<!DOCTYPE html>
<html>
<head>
<title>SMARTSHELF</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"> 
<link rel= "stylesheet" type= "text/css" href= "../static/js/dashboard.js">
</head>
<script src="../static/js/author.js"></script>
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>Author Listing</h3>
			<br>
			<div class="float-right mb-2 col-md-2">
				<button type="button" id="addAuthor" class="btn btn-info" title="Add book"><span class="glyphicon glyphicon-plus">Add</span></button>
			</div>
			<br><br>
			<table class="table table-striped">
			<thead>
			  <tr>
				<th>Sn.</th>					
				<th>Name</th>					
				<th>Status</th>											
				<th></th>
				<th></th>	
	  </tr>
			</thead>
			<tbody>
			  {% for author in authors %}			  
				  <tr>					
					<td>{{author.authorid}}</td>
					<td>{{author.name}}</td>
					<td>{{author.status}}</td>							
					<td><a href="./edit_author.html" class="btn btn-primary">Edit</a></td>	
					<td><a href="{{url_for('delete_author', authorid=author.authorid)}}" class="btn btn-danger">Delete</a></td>
				  </tr> 
			{% endfor %}	  
			</tbody>
		  </table>	        
        <hr>         
       </div>       
      </div>     
    </div>
	<div id="authorModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="authorForm" action="{{ url_for('saveAuthor')}}">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h4 class="modal-title"><i class="fa fa-plus"></i> Edit User</h4>
					</div>
					<div class="modal-body">						
						
						<div class="form-group">							
							<label for="Income" class="control-label">Author</label>							
							<input type="text" name="name" id="name" autocomplete="off" class="form-control" placeholder="author name"/>
											
						</div>
						
						<div class="form-group">
							<label for="status" class="control-label">Status</label>							
							<select class="form-control" id="status" name="status"/>
								<option value="">Select</option>							
								<option value="Enable">Enable</option>
								<option value="Disable">Disable</option>								
							</select>							
						</div>				
						
										
					</div>
					<div class="modal-footer">
						<input type="hidden" name="authorid" id="authorid" />					
						<input type="hidden" name="action" id="action" value="" />
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
  </body>
</html>