<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME | SMARTSHELF</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>SMARTSHELF</h1>
        <nav>
            <a href="/register" class="active">Register</a>
            <a href="/login">Login</a>
            <a href="/library">Library</a>
        </nav>
    </header>

    <section class="home">
        <img src="../static/assets/mount2.png" class="mount2">
        <img src="../static/assets/mount1.png" class="mount1">
        <img src="../static/assets/bush2.png" class="bush2">

        <h1 class="title">SmartShelf</h1> 

        <img src="../static/assets/bush1.png" class="bush1">
        <img src="../static/assets/leaf2.png" class="leaf2">
        <img src="../static/assets/leaf1.png" class="leaf1">
    </section>

    <section class="about">
        <h1>About SmartShelf</h1>
        <br>
        <p> Welcome to SmartShelf, your all-in-one digital library! Here, technology meets convenience to revolutionize the way you read and manage books. Discover a vast collection of eBooks across genres, tailored to suit your preferences and needs. Organize your personal library with ease, keeping all your favorite titles just a click away. Access your digital collection anytime, anywhere, from the comfort of your home or on the go. With smart features like advanced search, AI-powered recommendations, and a sleek design, SmartShelf redefines the joy of reading. Our intuitive interface ensures effortless navigation, making even first-time users feel at home. Say goodbye to the hassle of physical book storage and embrace the future of e-reading. Whether you're a casual reader or a passionate bibliophile, SmartShelf is built to elevate your experience. Let SmartShelf be your gateway to an immersive, seamless, and enjoyable reading journey.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100068277391993" target="_blank" class="fa fa-facebook"></a>
            <a href="https://instagram.com/balaj1_05" target="_blank" class="fa fa-instagram"></a>
            <a href="https://wa.me/919080078901" target="_blank" class="fa fa-whatsapp"></a>
        </div>
        <div class="footer">
            &copy; 2024 SMARTSHELF, All rights reserved.
        </div>
    </section>
    

    <script src="../static/js/script.js"></script>
</body>
</html>
